.stats-card{

background:white;

padding:25px;

border-radius:15px;

text-align:center;

box-shadow:0 8px 25px rgba(0,0,0,.08);

transition:.3s;

}

.stats-card:hover{

transform:translateY(-8px);

}

.stats-icon{

font-size:45px;

margin-bottom:15px;

}

.stats-card h2{

color:#2563eb;

font-size:40px;

}

.stats-card p{

margin-top:10px;

color:#555;

}