/* ==========================
   STATS SECTION
========================== */


.stats{

    width:100%;

    padding:60px 8%;

    background:white;

    text-align:center;

}



.stats h2{

    font-size:38px;

    color:#1e293b;

    margin-bottom:45px;

}



/* MAIN ROW */

.stats-grid{

    width:100%;

    display:flex;

    flex-direction:row;

    justify-content:space-between;

    align-items:center;

    gap:30px;

}



.stat-card{

    flex:1;

    text-align:center;

    padding:30px 20px;

    border-radius:15px;

    transition:0.3s ease;

    cursor:pointer;

}


/* Hover Effect */

.stat-card:hover{

    background:white;

    transform:translateY(-8px);

    box-shadow:0 10px 25px rgba(0,0,0,0.12);

}


.stat-card h1{

    font-size:45px;

    font-weight:700;

    color:#2563eb;

    margin-bottom:10px;

    transition:0.3s;

}



.stat-card:hover h1{

    color:#1d4ed8;

}


.stat-card p{

    font-size:18px;

    color:#555;

    margin:0;

}



.stat-card h1{

    font-size:45px;

    font-weight:700;

    color:#2563eb;

    margin-bottom:10px;

}



.stat-card p{

    font-size:18px;

    color:#555;

    margin:0;

}



/* RESPONSIVE */

@media(max-width:768px){

    .stats-grid{

        flex-direction:column;

        gap:25px;

    }

}