.categories{

padding:80px;

background:white;

text-align:center;

}

.category-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:30px;

margin-top:40px;

}

.category-card{

background:#f8fafc;

padding:35px;

border-radius:15px;

font-size:55px;

transition:.3s;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.category-card:hover{

transform:translateY(-8px);

background:#2563eb;

color:white;

}

.category-card h3{

margin-top:20px;

font-size:22px;

}